{% block header %}
  <h1>{% block title %}A simple, yet fun, submission bank{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="message"> Please enter any message you'd like(: </label>
      <br>
      <input type="text" name="message" id="message" required>
      <br><br>
      <label for="handle"> Username </label>
      <br>
      <input type="text" name="handle" id="handle" required>
      <br><br>
      <input type="submit" value="Submit form">
  </form>
  {% if name %}
  <br>
  {% if student == "yes" %}
  <b>Hello {{name}}! </b>
  Click <a href="/profile/{{name}}">here</a> to go to a customized page just for you!
  {% else %}
  <b>Hello {{name}}!  Do you want to take PIC16B?</b>
  {% endif %}
  {% endif %}
{% endblock %}
